#platform=x86, AMD64, ou Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
# old format: keyboard fr-latin9
# new format:
keyboard --vckeymap=fr-oss_latin9 --xlayouts='fr (oss_latin9)'
# Root password
rootpw --iscrypted $1$luZBX8RO$we8cAzd3u4OAv9P/N515v.
# System language
lang fr_FR
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text

# Run the Setup Agent on first boot
firstboot --disable
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx

# System services
ignoredisk --only-use=sda
# Firewall configuration
firewall --enabled --port=(23:tcp) --service=http,ssh
# Reboot after installation
reboot
# System timezone
timezone Europe/Paris
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
part /boot/efi --fstype="efi" --ondisk=sda --size=100
part /boot --asprimary  --fstype="ext4" --ondisk=sda --size=1024
part / --asprimary  --fstype="ext4" --ondisk=sda --size=256000
part swap --fstype="swap" --ondisk=sda --size=4096
part /home --asprimary  --fstype="ext4" --grow --ondisk=sda --size=1

# Activation du réseau
network --bootproto=dhcp --hostname=irontemp

%packages
@^minimal
@core
@system-admin-tools
chrony
%end

# Désactivation de kdump
%addon com_redhat_kdump --disable
%end

%post --interpreter=/bin/bash
/usr/bin/yum clean all
/usr/bin/yum update -y
/usr/bin/sed  -i 's/Port 22/Port 23/g' /etc/ssh/sshd_config
%end