#!/bin/bash
# -*- coding: utf-8 -*-

#==============================================================================
# Titre            : scriptinstall.sh
# Description      : Script de configuration de Samba 4 comme AD
# Auteur           : MELONI Sébastien
# Date             : 27/03/2020
# Modification     : 16/06/2020
# Version          : 1.00
# Utilisation      : ./scriptinstall.sh
# Notes            : Ce script est destiné à être lancé par ansible pour
#                    la configuration de Samba 4.
# Version de bash  : 4.2.46
#==============================================================================

{% if whith_internaldns is sameas true %}
samba-tool domain provision --realm={{ royaume }} \
                            --domain {{ domaine_court }} \
                            --server-role=dc \
                            --adminpass={{ pass_admin }} \
                            --krbtgtpass={{ pass_krbtgt }} \
                            --function-level={{ function_level }} \
                            --base-schema={{ base_schema }} \
                            --dns-backend=SAMBA_INTERNAL
{% else %}
samba-tool domain provision --realm={{ royaume }} \
                            --domain {{ domaine_court }} \
                            --server-role=dc \
                            --adminpass={{ pass_admin }} \
                            --krbtgtpass={{ pass_krbtgt }} \
                            --function-level={{ function_level }} \
                            --base-schema={{ base_schema }} \
                            --dns-backend=BIND9_FLATFILE
{% endif %}
# rm -f /var/lib/samba/private/krb5.conf
# ln -s /etc/krb5.conf /var/lib/samba/private/krb5.conf
