# {{ ansible_managed }}

[wapt]
name=WAPT Server Repo
baseurl=https://wapt.tranquil.it/centos7/wapt-{{ wapt_version }}/
enabled=1
gpgcheck=1
gpgkey=https://wapt.tranquil.it/centos7/RPM-GPG-KEY-TISWAPT-7
