# {{ ansible_managed }}

#!/bin/bash
# -*- coding: utf-8 -*-

#==============================================================================
# Titre            : blagues.sh
# Description      : Script d'affichage de blagues.
# Auteur           : MELONI Sébastien
# Date             : 06/06/2020
# Modification     : 06/06/2020
# Version          : 1.00
# Utilisation      : ./blagues.sh
# Notes            : Ce script est installé par ansible et permet l'affichage
#                    de blagues en utilisant cowsay.
# Version de bash  : 4.2.46
#==============================================================================

clear
cowsay -f speedy-gonzales "ARRIBA ARRIBA !! J'ai plou dé blagues en ce momment mais ca va vénir bientôt."